<body>
  <div class="main-container">
    <div class="topnav">
    <div class="logo">
    <img src="assets/images/logo1.png">
      <h1>KAV</h1>

    </div>
       <div class="login-container">
        <form action=" ">
          <button type="submit">REGISTER</button>
          <button type="submit">SIGN IN</button>
        </form>
      </div>
    <div id="navlist">
    <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/shows" routerLinkActive="active">Shows</a></li>
      <li><a routerLink="/people" routerLinkActive="active">People</a></li>
      <li><a routerLink="/schedule" routerLinkActive="active">Schedule</a></li>
    </ul>
    </div>
    </div>
  </div>
  <!--<div class="footer">
    <h4>@copyright of KAV TV Application with more content of footer	</h4>
  </div>
    <div style = "text-align: center;">
    -->
      <router-outlet></router-outlet>


  </body>
