<div class="main-container">
  <div class="topnav">

    <div class="logo">
    <img src="assets/images/logo1.png">
      <h1>KAV</h1>
    </div>

    <div class="login-container">
      <form action=" ">
        <button type="submit">REGISTER</button>
        <button type="submit">SIGN IN</button>
      </form>
    </div>

    <div id="navlist">
      <ul>
      <li><a routerLink="/shows" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}">Shows</a>
      <li><a routerLink="/schedule" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}">Schedule</a>
      </ul>
    </div>

  </div>
</div>
