<div *ngIf="current">
  <div class="search-container">
    <div class="row">
      <div class="image">
       <img [src] = 'current.image' />
      </div>
      <div class="search-output">
        <span><h2>{{current.name}}</h2></span>
        <div>
          <span>{{current.summary}}</span>
        </div><br>
        Ratings:
        <span>{{current.rating}}</span><br>

        <p>
        <span>Season: {{current.season}} | Episode: {{current.episodes}}</span><br>
          Length of the show:
          <span>{{current.runtime}}</span> min.<br>
          <span>{{current.schedule}}</span> |
          <span>{{current.time}}</span> <br>
        </p>
      </div>
    </div>
  <div>
</div>
