
  <div>
    <div>
      <img [src] = 'current.image' />
    </div>

   <span><h2>{{current.name}}</h2></span></div><br/>
    About the Show<br>
    <span>{{current.summary}}</span><br>
    Ratings:
    <span>{{current.rating}}</span><br>
    Cast:
    <span>{{current.cast}}</span>
    <p>
    <span>Season: {{current.season}} | Episode: {{current.episodes}}</span><br>
      Length of the show:
       <span>{{current.runtime}}</span> <br>
       <span>{{current.schedule}}</span> |
       <span>{{current.time}}</span> <br>
    </p>


  <div>




