<body>
<div style="text-align: center;">
  <h1>Show-App</h1>

  <div class="topnav">
    <a href="#about">People</a>
    <a href="#about">Schedule</a>
    <div class="dropdown">
      <button class="dropbtn">Categories</button>
      <div class="dropdown-content">
        <a href="#">Action</a>
        <a href="#">Thriller</a>
        <a href="#">Comedy</a>
        <a href="#">Romantic</a>
</div>
    </div>


    <input type="text" placeholder="Search for Shows, Schedule, People" />

    <div class="login-container">
      <form action=" ">
        <button type="submit">Register</button>
        <button type="submit">SignIn</button>
      </form>

</div>
</div>
  <app-peoplesearch></app-peoplesearch>
  <app-schedule></app-schedule>

</div>
</body>

  <br>
  <div style = "text-align: center;">
  <app-tv-app></app-tv-app>
  <app-peoplesearch></app-peoplesearch>
  </div>
