<h1>Today's Show Schedule</h1>
<p>{{todayDate | date:'fullDate'}}</p>

<table class="schedule" border="1" align="center">
  <tr class="titles">
    <td>Time</td>
    <td>Show Name</td>
    <td>Season</td>
    <td>Episode</td>
    <td>Episode Name</td>
  </tr>

  <tr *ngFor="let sched of schedules">
    <td>
      <span>{{ sched.time }}</span>
    </td>
    <td class="show-name">
      <span>{{ sched.show_name }}</span>
    </td>
    <td>
      <span>{{ sched.season }}</span>
    </td>
    <td>
      <span>{{ sched.ep_number }}</span>
    </td>
    <td class="episode-name">
      <span>{{ sched.ep_name }}</span>
    </td>
  </tr>
</table>

