/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #333333;
  color: #fafafa;
}

.mat-form-field {
  float: right;
  width: 50%;
  display: none;
  text-align: right;
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 0;
}

/** HEADER **/

#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 0;
}

#header-nav button {
  margin-top: 22px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #9999ff;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 76px;
  height: 76px;
  padding-top: 0;
}

.navbar-brand h1 {
  color: #003333;
  font-weight: bolder;
  font-size: 1.8em;
  text-decoration: none;
}

.navbar-brand a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px #669999;
}

#nav-list {
  background-color: #9999ff;
}

#nav-list a {
  font-weight: bolder;
  color: #003333;
  font-size: 1.2em;
}

#nav-list a:hover {
  color: #003333;
  background-color: #9999ff;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #003333;
}

/** END HEADER */

/** HOME PAGE**/

#main-content {
  width: 95%;
  margin-bottom: 40px;
}

#main-content h2 {
  font-size: 2.3em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
}

#main-content h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 1em;
}

#main-section {
  background-color: #fcfcfc;
  padding: 20px;
}

/* HOME STYLES START HERE*/

.topnav {
  width: 100%;
}

.logo img {
  color: #7b0046;
  width: 28%;
}

.logo h1 {
  color: #7b0046;
  display: inline;
}

.topnav .logo {
  float: left;
  margin-left: 8%;
}

.topnav .login-container {
  float: right;
  margin-right: 8%;
}

button {
  background-color: #7b0046;
  color: #fafafa;
  padding: 15px;
  border: none;
  float: right;
  margin-left: 20px;
}

li {
  display: inline;
}

.container img {
  width: 84%;
  text-align: center;
}

#navlist {
  float: right;
}

#navlist li a {
  padding-left: 20px;
  padding-right: 20px;
  color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: bold;
  text-decoration: none;
}

#navlist li a:hover {
  background-color: #7b0046;
  color: #ffffff;
}

#navlist li a:active {
  color: #7b0046;
}

.footer {
  margin-top: 20px;
  width: 100%;
  background-color: #7b0046;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h4 {
  color: #ffffff;
  margin-left: 8%;
  margin-right: 8%;
}

.search-container {
  width: 84%;
  text-align: left;
  margin-left: 8%;
  position: absolute;
  margin-bottom: 20px;
  box-shadow: #222222 10px 10px 10px 0;
  background-color: #7b0046;
  opacity: 0.9;
  margin-top: 150px;
}

.row {
  width: 100%;
  background-color: #000000;
}

.search-container .image {
  width: 30%;
  float: left;
  padding-right: 20px;
  border: 1px solid #7b0046;
  background-color: #7b0046;
  text-align: center;
  opacity: 1;
}

.search-output {
  position: relative;
  padding-right: 20px;
  width: 63%;
  float: left;
}

.class-name {
  border-bottom: #7b0046 solid thick;
}
